.account-menu-list {
  display: flex;
  gap: 44px;
  justify-content: end;

  @media (min-width: $tablet-width) {
    gap: 5px;
  }

  @media (min-width: $desktop-width) {
    gap: 64px;
    padding-right: 20px;
  }
}

.account-menu__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.account-menu-item {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.account-menu__icon {
  @media (min-width: $tablet-width) {
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
