.catalog__content-holder {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    display: grid;
    grid-template-columns: 318px 1fr;
    gap: 30px;
  }
}

.catalog__header {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: $base-purple-primary;
  text-transform: uppercase;
}

.catalog__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.catalog__products {
  @media (min-width: $desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

.catalog__pagination {
  margin-left: auto;

  @media (min-width: $desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

.catalog__filter {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 318px;
  }
}
