.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 44px;
  background-color: $lightest-grey;
}

.catalog__content-holder {
  width: 280px;
}

.catalog__header {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: $base-purple-primary;
  text-transform: uppercase;
}

.catalog__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  padding-bottom: 20px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}
