.checkboxes__legend {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.checkboxes__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  margin-top: 20px;
  padding-left: 52px;
  font-size: 16px;
  line-height: 24px;
}

.checkboxes__label {
  position: relative;
  cursor: pointer;
}

.checkboxes__mark {
  position: absolute;
  box-sizing: border-box;
  width: 42px;
  height: 24px;
  background-color: $base-grey;
  border-radius: 12px;
  left: -52px;
  top: -4px;
}

.checkboxes__input:checked + .checkboxes__mark {
  background-color: $base-purple-primary;
}

.checkboxes__input + .checkboxes__mark::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $base-white;
  top: calc(50% - 10px);
  right: calc(50% - 1px);
}

.checkboxes__input:checked + .checkboxes__mark::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $base-white;
  top: calc(50% - 10px);
  left: calc(50% - 1px);
  border-color: $base-purple-primary;
}

.checkboxes__input:disabled + .checkboxes__mark {
  background-color: $light-grey;
}

.checkboxes__input:disabled ~ .checkboxes__title {
  opacity: 0.25;
}

.checkboxes__input:checked:disabled + .checkboxes__mark {
  background-color: $light-grey;
}

.checkboxes__input:checked:disabled + .checkboxes__mark::after {
  content: "";
  background-color: $base-grey;
  border-color: $base-purple-primary;
}

.checkboxes__label:hover .checkboxes__mark:hover,
.checkboxes__label:focus .checkboxes__mark:focus {
  outline: solid 2px $base-purple-lighter;
  background-color: rgb(221, 213, 243);
}
