.filter__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1/4;
    flex-direction: row;
    justify-content: center;
  }
}

.filter__button {
  width: 280px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 137px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
  }
}

.filter__button--submit {
  background-color: $base-purple-primary;
  color: $base-white;
}

.filter__button--reset {
  background-color: $base-white;
  color: $base-purple-primary;
}

.filter__price-slider {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.filter__button--reset:hover,
.filter__button--reset:focus,
.filter__button--submit:hover,
.filter__button--submit:focus {
  background-color: $base-purple-lighter;
  color: $base-white;
}

.filter__button--reset:active,
.filter__button--submit:active {
  background-color: $base-purple-darker;
  color: $base-white;
}

.filter__button--submit:disabled {
  background-color: $base-grey;
}

.filter__button--reset:disabled {
  background-color: $light-grey;
}
