.footer-nav__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding-top: 5px;
  color: $base-purple-primary;
}

.footer-nav__item {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 20px;
}

.footer-nav__item--address,
.footer-nav__item--phone {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  margin-left: 19px;
}

.footer-nav__item--address::before {
  content: "";
  position: absolute;
  display: block;
  width: 13px;
  height: 16px;
  left: -19px;
  top: 4px;
  background-image: url("../../images/address-icon.svg");
}

.footer-nav__item--phone::before {
  content: "";
  position: absolute;
  display: block;
  width: 13px;
  height: 16px;
  left: -19px;
  top: 4px;
  background-image: url("../../images/phone-icon.svg");
}

.footer-nav {
  border-bottom: 1px solid $base-purple-secondary;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.footer-nav__list {
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-bottom: 22px;
  }
}

.footer-nav:last-child .footer-nav__list {
  padding-bottom: 20px;
}
