.footer__content-holder {
  width: 280px;
  margin: auto;
}

.footer__sotial-links {
  display: flex;
  padding-top: 20px;
  padding-bottom: 22px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $base-purple-secondary;
}

.footer__nav-links {
  display: flex;
  flex-direction: column;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;
  padding-top: 20px;
  padding-bottom: 30px;
}
