.footer__content-holder {
  width: 280px;
  margin: auto;
  @media (min-width: $tablet-width) {
    width: 708px;
  }
}

.footer__sotial-links {
  display: flex;
  padding-top: 20px;
  padding-bottom: 22px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $base-purple-secondary;
  @media (min-width: $tablet-width) {
    border: none;
  }
}

.footer__nav-links {
  display: flex;
  flex-direction: column;
  @media (min-width: $tablet-width) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  }
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;
  padding-top: 20px;
  padding-bottom: 30px;
}
