.header {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: $base-black;
  text-transform: uppercase;
  text-align: center;
  background-color: $base-white;
  padding: 0;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.header__content-holder {
  display: flex;
  gap: 44px;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 60px;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 728px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    height: 80px;
    gap: 20px;
  }
}


.header__logo-title {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-weight: 400;
    text-transform: none;
    width: 126px;
    text-align: left;
  }
}

.header__account {
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
  }
}

.header__menu-button {
  cursor: pointer;
  position: relative;
  display: block;
  align-items: center;
  padding: 0;
  width: 16px;
  height: 12px;
  border: none;
  top: -2px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__menu-button--close {
  margin-right: 2px;
  margin-left: 2px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__menu-button::after {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 12px;
  top: calc(-50% + 8px);
  background-image: url("../../images/icons/stack.svg#mobile-menu-button-close");
}

.js-toggle-button {
  height: 16px;
  margin-right: 0;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.js-toggle-button::after {
  content: "";
  position: absolute;
  display: block;
  height: 16px;
  top: calc(-50% + 8px);
  background-image: url("../../images/icons/stack.svg#mobile-menu-button-open");
}
