.header {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: $base-black;
  text-transform: uppercase;
  text-align: center;
  background-color: $base-white;
  padding: 0;
}

.header__content-holder {
  display: flex;
  gap: 44px;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 60px;
  margin: auto;
}

.header__menu-button {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

.header__menu-button--close {
  margin-right: 2px;
  margin-left: 2px;
}