.logo {
  display: block;
  position: relative;
  width: 32px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 82px;

    @media (min-width: $desktop-width) {
      width: 170px;
    }
  }
}

.logo::after {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 36px;
  background-image: url("../../images/icons/stack.svg#logo-mobile");

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
    background-image: url("../../images/icons/stack.svg#logo-tablet");

    @media (min-width: $desktop-width) {
      width: 170px;
      height: 36px;
      background-image: url("../../images/icons/stack.svg#logo-desktop");
    }
  }
}
