.logo {
  display: block;
  position: relative;
  width: 32px;
  height: 36px;
  margin: 20px;
}

.logo::after {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 36px;
  background-image: url("../../images/icons/stack.svg#logo-mobile");
}
