.main__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 60px;
  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 100px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.main__catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 44px;
  background-color: $lightest-grey;
  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.main__map {
  position: relative;
  overflow: hidden;
  height: 480px;
  @media (min-width: $desktop-width) {
    height: 540px;
  }
}