.nav-header {
  display: none;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-grow: 1;
   }

}

.nav-header--js {
  position: absolute;
  display: block;
  width: 100%;
  right: 0;
  z-index: 1;
  top: 60px;
  background-color: $base-white;
  margin: 0;
}

.nav-header__list {
  margin: 0;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 44px;
    justify-content: center;
   }
}

.nav-header__item:first-child {
  border-top: solid 1px $base-purple-secondary;
}

.nav-header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  border-bottom: solid 1px $base-purple-secondary;
  @media (min-width: $tablet-width) {
    border: none;
  }
}




