.nav-header {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-grow: 1;
  }
}

.nav-header--js {
  position: absolute;
  display: block;
  width: 100%;
  right: 0;
  z-index: 1;
  top: 60px;
  background-color: $base-white;
  margin: 0;
}

.nav-header__list {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    gap: 28px;
  }
}

.nav-header__item:first-child {
  border-top: solid 1px $base-purple-secondary;
}

.nav-header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: solid 1px $base-purple-secondary;

  @media (min-width: $tablet-width) {
    border: none;
    height: 80px;
  }
}

.nav-header__item--current {
  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    border-bottom: 2px solid $base-purple-primary;
    color: $base-purple-primary;
  }
}
