.pagination {
  display: flex;
  gap: 20px;
  font-size: 16px;
  line-height: 24px;
  color: $base-purple-primary;
  width: 280px;
}

.pagination__button {
  font-size: 16px;
  line-height: 24px;
  color: $base-purple-primary;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: $base-white;
}

.pagination__page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: $base-white;
}

.pagination__page--current {
  background-color: transparent;
  font-weight: 600;
  color: $base-black;
}