.price-slider__legend {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.price-slider__holder {
  margin-top: 30px;
  margin-bottom: 34px;
  width: calc(100% - 24px);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.price-slider__field {
  display: flex;
  gap: 18px;
  align-items: center;

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.price-slider__value-min,
.price-slider__value-max {
  box-sizing: border-box;
  width: 118px;
  height: 40px;
  text-align: center;
  color: $base-black;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 4px;
  border: 2px solid $base-purple-lighter;

  @media (min-width: $tablet-width) {
    width: 88px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}

.price-slider__separaitor {
  height: 2px;
  width: 8px;
  background-color: $base-grey;
}
