.radio-buttons__legend {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.radio-buttons__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  margin-top: 20px;
  padding-left: 34px;
  font-size: 16px;
  line-height: 24px;
}

.radio-buttons__label {
  position: relative;
  cursor: pointer;
}

.radio-buttons__mark {
  position: absolute;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 2px solid $base-grey;
  background-color: $base-white;
  border-radius: 50%;
  left: -34px;
  top: -4px;
}

.radio-buttons__input:checked + .radio-buttons__mark {
  border-color: $base-purple-primary;
}

.radio-buttons__input:checked + .radio-buttons__mark::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $base-purple-primary;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  border-color: $base-purple-primary;
}

.radio-buttons__input:disabled + .radio-buttons__mark {
  opacity: 0.25;
}

.radio-buttons__input:disabled ~ .radio-buttons__title {
  opacity: 0.25;
}


.radio-buttons__label:hover .radio-buttons__mark:hover,
.radio-buttons__label:focus .radio-buttons__mark:focus {
  outline: solid 2px $base-purple-lighter;
  border: solid 2px $base-white;
  background-color: rgb(221, 213, 243);
}

.radio-buttons__input:disabled + .radio-buttons__mark::after {
  background-color: $light-grey;
  border-color: $light-grey;
}
