/* здесь используйте глобальные селекторы img, body, html и так далее*/
.page {
  height: 100%;
}

.page__body {
  margin: 0;
  min-width: $min-width;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: inherit;
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
